<div>
  <div>
    <h1><%-title-%></h1>
    <%- messages() %>
  </div>
  <div>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
      <form action="/account/admin" method="post">
        <table>
          <thead>
            <tr>
              <% Object.keys(tableData[0]).forEach((column) => { %>
              <th class="column-header" data-column="<%= column %>">
                <%= column.replace(/_/g, " ") %>
              </th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% tableData.forEach((row, rowIndex) => { %>
            <tr>
              <% Object.keys(row).forEach((column) => { %>
              <td data-column="<%= column %>">

                <% if (column === "account_id") { %>
                <input
                  type="hidden"
                  readonly
                  name="accounts[<%= rowIndex %>][<%= column %>]"
                  value="<%= row[column] %>"
                />
                <span><%= row[column] %></span>
                <% } else if (column === "account_type") { %>

                    <% let newOptions = options;
                     if (row[column] !== 'Owner' ) {newOptions = options.filter(option => option.account_type !== 'Owner');%>
                     <select name="accounts[<%= rowIndex %>][<%= column %>]">
                     <% } else { %>
                     <select name="accounts[<%= rowIndex %>][<%= column %>]" value="<%= row[column] %>">
                    <% } %>

                

                   
                     <% newOptions.forEach((accountType) => { %>
                        <option value="<%= accountType.account_type %>" 
                          <% if (row[column] === accountType.account_type) { %> selected <% } %>
                          <% if (row[column] === "Owner" && accountType.account_type !== "Owner") { %> disabled <% } %>
                          >
                          <%= accountType.account_type %>
                        </option>
                      <% }) %>

                    </select>
                    
                <% } else if (column == 'account_email') { %>
                <input type="email" name="accounts[<%= rowIndex %>][<%= column %>]" value="<%=row[column] %>" pattern="^[\w.-]+@[\w.-]+\.[a-zA-Z]{2,6}$" required>
                    <% } else { %>
                <input
                  type="text"
                  name="accounts[<%= rowIndex %>][<%= column %>]"
                  value="<%= row[column] %>"
                  required
                />
                <% } %>
              </td>
              <% }) %>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <button type="submit">Update</button>
      </form>
  </div>
</div>
